<div class="app-layout">
  <div class="sidebar">
    <h2>Mapúa Makati Inventory</h2>
    <ul>
      <li>
        <a [routerLink]="['/items']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Items
        </a>
      </li>
      <li>
        <a [routerLink]="['/equipment-types']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Equipment Types
        </a>
      </li>
      <li>
        <a [routerLink]="['/borrowers']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Borrowers
        </a>
      </li>
      <li>
        <a [routerLink]="['/reports']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Daily Reports
        </a>
      </li>
    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
